<header class="top">
  <div class="logo">
    
  </div>
  <div class="row topbar">
    {% include logo.html %}
    <nav>
      <ul id="navigation" class="navigation">
        <li><a href="http://psadmin.io">Home</a></li>
        <li><a href="http://psadmin.io/blog">Blog</a></li>
        <li><a href="http://psadmin.io/category/podcast">Pocast</a></li>
        <li><a href="http://psadmin.io/community">Community</a></li>
        <li><a href="http://psadmin.io/courses">Courses</a></li>
        <li><a href="http://psadmin.io/conference">Conference</a></li>
        <li><a href="http://github.com/psadmin-io">Code</a></li>
        <li><a href="/">Wiki</a></li>
        <li class="toggle"><button type="button" id="toggle-menu" class="button--teal">Menu</button></li>
      </ul>
    </nav>
  </div>
</header>
