<div id="sidebar" class="sidebar">
  <div>
    <!-- <h2>Search</h2> -->
    <form action="/search.html" method="get" class="searchbox">
      <input type="text" id="search-box" name="query" placeholder="Search"  class="searchbox-input">
    </form>
  </div>

  <section class="sidebar-navigation">
    <nav>
      <h3>Getting Started</h3>
      <ul>
        {% for title in site.data.getting_started %}
        <li><a href="{{title[1]}}">{{title[0]}}</a></li>
        {% endfor %}
      </ul>

      <h3>PeopleTools</h3>
      <ul>
        <li class="is-overview"><a href="/posts/peopletools/">Overview</a></li>
        {% for title in site.data.peopletools %}
        <li><a href="{{title[1]}}">{{title[0]}}</a></li>
        {% endfor %}
      </ul>

      <h3>Database</h3>
      <ul>
        <li class="is-overview"><a href="/posts/database/">Overview</a></li>
        {% for title in site.data.database %}
        <li><a href="{{title[1]}}">{{title[0]}}</a></li>
        {% endfor %}
      </ul>

      <h3>Middleware</h3>
      <ul>
        <li class="is-overview"><a href="/posts/middleware/">Overview</a></li>
        {% for title in site.data.middleware %}
        <li><a href="{{title[1]}}">{{title[0]}}</a></li>
        {% endfor %}
      </ul>

      <h3>Cloud Architecture</h3>
      <ul>
        <li class="is-overview"><a href="/posts/pca/">Overview</a></li>
        {% for title in site.data.pca %}
        <li><a href="{{title[1]}}">{{title[0]}}</a></li>
        {% endfor %}
      </ul>

      <h3>Server Administration</h3>
      <ul>
        <li class="is-overview"><a href="/posts/admin/">Overview</a></li>
        {% for title in site.data.admin %}
        <li><a href="{{title[1]}}">{{title[0]}}</a></li>
        {% endfor %}
      </ul>

      <h3>Development</h3>
      <ul>
        <li class="is-overview"><a href="/posts/development/">Overview</a></li>
        {% for title in site.data.development %}
        <li><a href="{{title[1]}}">{{title[0]}}</a></li>
        {% endfor %}
      </ul>

    </nav>
  </section>

  <section class="sidebar-notice">
    <p>This documentation site is open source.
      The <a href="https://github.com/psadmin-io/psadmin-wiki">README in our Git repository</a> explains how to contribute.</p>
    <p>Check out the <a href="https://github.com/psadmin-io/psadmin-wiki/blob/master/STYLE.md">Style Guide</a> for tips on working with Markdown and how to make the wiki pages look great.</p>
    <p>View the wiki's <a href="/code_of_conduct/">Code of Conduct</a></p>
  </section>

</div><!-- /#sidebar -->
